

.pixel {
  width               : 100%;
  min-width           : 1627px;
  height              : 100vh;
  min-height          : 5531px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.pixel .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 874px;
  height              : 4361px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 1265px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .rectangle31 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 875px;
  height              : 4313px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1290px;
  border-radius       : 14px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(168, 227, 76, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .rectangle32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1863px;
  height              : 1739px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 892px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .rectangle33 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1792px;
  height              : 1786px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 917px;
  border-radius       : 14px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(168, 227, 76, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 623px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 1118px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group .firststagec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
}
.pixel .group .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3863px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 1118px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group1 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group1 .updatesymbols {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
}
.pixel .group1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group1 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1548px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 762px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group2 .operandanalysis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 93px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 35.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 41.0px;
}
.pixel .group2 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group2 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 888px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 760px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group3 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group3 .u05d1u05d3u05d9u05e7u05eau05eau05d5u05d5u05d9u05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group3 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group3 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1218px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 760px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group4 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group4 .u05d1u05d3u05d9u05e7u05eau05d4u05e0u05d7u05d9u05d9u05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group4 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group4 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1843px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group5 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group5 .u05d4u05e4u05e8u05d3u05eau05d4u05deu05d9u05dcu05d9u05dd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group5 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group5 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 101px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group6 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 67px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group6 .u05d7u05d6u05d5u05e8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 22.0px;
  direction           : rtl;
}
.pixel .group6 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group6 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 67px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05deu05d4u05dcu05dau05d4u05eau05d5u05dbu05e0u05d9u05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 215px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 623px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 57.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 67.0px;
  direction           : rtl;
}
.pixel .u05eau05d9u05d0u05d5u05e8u05e8u05e6u05e3u05d4u05e4u05e2u05d5u05dcu05d5u05eau05d1m {
  background-color    : rgba(255,255,255,0.0);
  top                 : 357px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 553px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 44.0px;
  color               : rgba(161, 161, 161, 1.0);
  text-align          : right;
  line-height         : 52.0px;
  direction           : rtl;
}
.pixel .u05e4u05e2u05d5u05dcu05d5u05eau05e8u05d9u05e6u05eau05d4u05deu05e2u05d1u05e8u05d4u05e8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 696px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .u05d1u05d3u05d9u05e7u05eau05d4u05deu05d9u05dcu05d4u05d4u05e8u05d0u05e9u05d5u05e0u05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 961px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .u05d1u05d3u05d9u05e7u05eau05deu05d1u05e0u05d4u05e9u05dcu05e4u05e7u05d5u05d3u05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1286px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .u05e4u05e2u05d5u05dcu05d4u05dcu05e0u05d9u05eau05d5u05d7u05d4u05deu05d1u05e0u05d4u05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1611px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 226px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .u05eau05d7u05d9u05dcu05d4u05e0u05e4u05e8u05d9u05d3u05d0u05eau05d4u05deu05d9u05dcu05d9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1916px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2099px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group7 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group7 .u05e0u05d9u05eau05d5u05d7u05d4u05deu05d9u05dcu05d4u05d4u05e9u05e0u05d9u05d9u05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group7 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group7 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05e0u05e0u05eau05d7u05d0u05eau05d4u05deu05d9u05dcu05d4u05d4u05e9u05e0u05d9u05d9u05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2347px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group8 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group8 .u05e0u05d9u05eau05d5u05d7u05d4u05deu05d9u05dcu05d4u05d4u05e9u05dcu05d9u05e9u05d9u05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group8 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group8 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05d1u05d0u05ddu05deu05e6u05d0u05e0u05d5u05dbu05d9u05d4u05e9u05d9u05d8u05eau05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2366px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2603px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group9 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group9 .u05deu05e6u05d9u05d0u05eau05d4u05e4u05e7u05d5u05d3u05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group9 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group9 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05e0u05e9u05d5u05d5u05d4u05d0u05eau05d4u05e4u05e7u05d5u05d3u05d4u05d4u05e8u05d0u05e9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2676px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3356px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group10 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group10 .u05e9u05dcu05d9u05d7u05eau05d4u05deu05d9u05dcu05d9u05ddu05dcu05e7u05d9u05d3u05d5u05d3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group10 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group10 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05dcu05d0u05d7u05e8u05e9u05deu05e6u05d0u05e0u05d5u05d0u05eau05dbu05dcu05dcu05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3401px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .u05dcu05d0u05d7u05e8u05e9u05d0u05e0u05d5u05d9u05d5u05d3u05e2u05d9u05ddu05d0u05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3928px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4166px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 1118px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group11 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group11 .secondstage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
}
.pixel .group11 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group11 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05deu05e2u05d1u05e8u05e9u05e0u05d9u05e2u05dcu05d4u05eau05d5u05d5u05d9u05d5u05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4231px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4772px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 1118px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group12 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group12 .thirdstage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 47.0px;
}
.pixel .group12 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group12 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05d1u05deu05d9u05d3u05d4u05d5u05deu05e6u05d0u05e0u05d5u05e9u05d2u05d9u05d0u05d5u05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4837px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2844px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group13 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group13 .u05d1u05d3u05d9u05e7u05eau05eau05e7u05d9u05e0u05d5u05eau05d4u05d0u05d5u05e4u05e8u05e0u05d3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 66px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group13 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group13 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05e0u05d1u05d3u05d5u05e7u05d1u05e2u05d1u05d5u05e8u05e9u05d9u05d8u05d5u05eau05d4u05de {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2863px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3100px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group14 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group14 .u05d4u05deu05e9u05dau05d0u05d5u05d4u05d5u05d3u05e2u05eau05e9u05d2u05d9u05d0u05d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : center;
  line-height         : 47.0px;
  direction           : rtl;
}
.pixel .group14 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group14 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05e0u05d1u05d3u05d5u05e7u05d4u05d0u05ddu05d9u05e9u05e0u05ddu05eau05e0u05d0u05d9u05dd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3117px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
.pixel .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1119px;
  height              : 100px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 921px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1454px;
  height              : 100px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 922px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5340px;
  height              : 101px;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 725px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group15 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 67px;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group15 .u05deu05d5u05d3u05d5u05dcu05d9u05ddu05d1u05deu05e2u05e8u05dbu05ea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 22.0px;
  direction           : rtl;
}
.pixel .group15 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group15 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 67px;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4469px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 1118px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group16 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group16 .updateaddresses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 33.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 39.0px;
}
.pixel .group16 .updatedataaddresses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(64, 64, 64, 1.0);
  text-align          : right;
  line-height         : 32.0px;
}
.pixel .group16 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .group16 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 202px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pixel .u05deu05e2u05d1u05e8u05d5u05e2u05d3u05dbu05d5u05dfu05e9u05dcu05dbu05eau05d5u05d1u05d5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4564px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 405px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : right;
  line-height         : 40.0px;
  direction           : rtl;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}